@import url("reset.css");
@import url("main-styles/notes-header.css");
@import url("main-styles/notes-input.css");
@import url("main-styles/notes-btn.css");
@import url("notes-colors.css");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
    
    height: 100vh;

}

.container {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    /* width: 100%; */
}

.notes-place {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 230px);

    justify-content: center;
    gap: 25px;
    width: 100%;

    margin-top: 30px;
    margin-inline: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 100,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}



@media only screen and (max-width:662px){

    .notes-place {
        display: grid;
        
        grid-template-columns: repeat(auto-fill, 360px);
        grid-template-rows: repeat(auto-fill, 276px);
    
        justify-content: center;
        gap: 25px;
        width: 100%;
    
        margin-top: 30px;
        margin-inline: 10px;
    }
}
/* 
@media only screen and (min-width:600px){

}
 */

