.notes-input {

    width: 50%;
    height: 40px;

    border: none;
    border-radius: 3px;

    font-size: large;
    font-weight: 300;
    color: white;
    
}

.notes-input::placeholder {
    text-align: center;
    
}
.notes-input:focus {
    /* border: 1px solid #1f1f1f; */
    /* outline: 3px solid #444444; */
    padding-left: 15px;
    outline: 0px;

}

.notes-input:focus::placeholder {
    color: transparent;

}


@media only screen and (max-width:599px){
    .notes-input {

        width: 70%;
        height: 50px;
    
        margin-top: 30px;
    
        border: none;
        outline: 0px;
        border-radius: 3px;
    
        font-size: large;
        font-weight: 300;
        color: white;
    }
    
    .notes-input::placeholder {
        text-align: center;
        
    }
    .notes-input:focus {
        /* border: 1px solid #1f1f1f; */
        outline: 0px;
        padding-left: 15px;
    
    }
    
    .notes-input:focus::placeholder {
        color: transparent;
    
    }
}


