
/* Global stylization */
.notes-input {
    border: none;
    border-radius: 3px;

    font-size: large;
    font-weight: 300;
    color: white;
    padding-left: 15px;
    
}

/* Pseudo classes and attributes stylization */
.notes-input::placeholder {
    text-align: center;
    padding-left: 0px;
    
}

.notes-input:focus::placeholder {
    color: transparent;

}

/* Screen sizes */
@media only screen and (min-width:663px) {

    .notes-input {
        width: 50%;
        height: 40px;
    }
}

@media only screen and (max-width:662px) {
    
    .notes-input {
        width: 70%;
        height: 50px;
        margin-top: 30px;
    }
}


