input {
    padding-inline: 0px;
    padding-block: 0px;
  }
  
textarea {
    padding: 0px;
    resize: none;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.note {
    width: 100%;
    height: 230px;
    
    color: black;

    border: none;
    border-radius: 3px;
}

.note-title {
    width: 250px;
    height: 50px;
    font-size: large;
    font-weight: 300;

    border: none;
    padding: 4%;

    color: inherit;
    background-color: inherit;
}

.note-title:focus {
    outline: 0px;
}

.note-title::placeholder, .note-content::placeholder {
    color: inherit;
} 

.note-content {
    width: 100%; 
    height: 180px;
    
    border: none;
    padding: 4%;

    color: inherit;
    background-color: inherit;
}

.note-content:focus {
    outline: 0px;
}

@media only screen and (max-width:662px){

    .note {
        width: 100%;
        height: 300px;
        
        color: black;
    
        border: none;
        border-radius: 3px;
    }

    .note-title {
        width: 330px;
        height: 50px;
        font-size: larger;
        font-weight: 300;
    
        border: none;
        padding: 4%;
    
        color: inherit;
        background-color: inherit;
    }

    .note-content {
        width: 100%; 
        height: 180px;
        
        border: none;
        padding: 4%;
        font-size: large;
        color: inherit;
        background-color: inherit;
    }
    

}

.notes-bg-yellow {
    background-color: var(--notes-color-yellow);
}

.notes-bg-pink {
    background-color: var(--notes-color-pink);
}

.notes-bg-green {
    background-color: var(--notes-color-green);
}

.notes-bg-blue {
    background-color: var(--notes-color-blue);
}

