
/* Resets for buttons */
button {
    margin: 0px;
    padding: 0px;
}

/* Global stylization */
.simple-btn {
    border: none;
    border-radius: 3px;
}

/* Notes colors */
.simple-bg-light {
    background-color: var(--simple-color-light);
    transition: background-color 1s ease;
}

.simple-bg-silver {
    background-color: var(--simple-color-silver);
    transition: background-color 1s ease;
}

.simple-bg-gray {
    background-color: var(--simple-color-gray);
}

.simple-bg-yellow {
    background-color: var(--simple-color-yellow);
}

.simple-bg-pink {
    background-color: var(--simple-color-pink);
}

.simple-bg-green {
    background-color: var(--simple-color-green);
}

.simple-bg-blue {
    background-color: var(--simple-color-blue);
}

/* Screen sizes */
@media only screen and (min-width:663px) {

    .simple-btn {
        margin-left: 5px;  
        height: 40px;
        width: 40px;
    }

    .simple-btn:hover {
        cursor: pointer;
        background-color: var(--simple-color-white-transparent);
        transition: background-color 0.5s ease;
    }
}

@media only screen and (max-width:662px) {
    .simple-btn {
        margin-left: 5px;
        height: 50px;
        width: 50px;
    }
}