.notes-btn {
    
    height: 40px;
    width: 40px;

    margin-left: 5px;

    border: none;
    border-radius: 3px;
}

.notes-btn:hover {
    cursor: pointer;
}

.notes-btn-end {
    justify-self: end;
}

.notes-bg-light {
    background-color: var(--notes-color-light);
    transition: background-color 2s ease;
}

.notes-bg-silver {
    background-color: var(--notes-color-silver);
    transition: background-color 2s ease;
}

@media only screen and (max-width:599px){

    .notes-btn {
    
        height: 50px;
        width: 50px;
    
        margin-left: 5px;
    
        border: none;
        border-radius: 3px;
    
    }

}