button {
    margin: 0px;
    padding: 0px;
}
.notes-btn {
    margin-left: 5px;

    border: none;
    border-radius: 3px;

    height: 40px;
    width: 40px;
}

.notes-btn:hover {
    cursor: pointer;
}

.notes-bg-light {
    background-color: var(--notes-color-light);
    transition: background-color 2s ease;
}

.notes-bg-silver {
    background-color: var(--notes-color-silver);
    transition: background-color 2s ease;
}

.notes-bg-gray {
    background-color: var(--notes-color-gray);
}

.notes-bg-yellow {
    background-color: var(--notes-color-yellow);
}

.notes-bg-pink {
    background-color: var(--notes-color-pink);
}

.notes-bg-green {
    background-color: var(--notes-color-green);
}

.notes-bg-blue {
    background-color: var(--notes-color-blue);
}

@media only screen and (max-width:599px) {
    .notes-btn {
        margin-left: 5px;

        height: 50px;
        width: 50px;
    
        border: none;
        border-radius: 3px;
    }
}