
:root {
    --notes-color-black: rgb(33, 33, 33);
    --notes-color-graphite: rgb(43, 43, 43);
    --notes-color-gray:rgb(140, 140, 140);
    --notes-color-silver:rgb(166, 166, 166);
    --notes-color-white:rgb(222, 222, 222);
    --notes-color-light: rgb(247, 247, 247);
    --notes-color-yellow: rgb(214, 163, 61);
    --notes-color-pink: rgb(223, 104, 223);
    --notes-color-green: rgb(163, 214, 61);
    --notes-color-blue: rgb(61, 163, 214);
}

.simple-bg-black {
    background-color: var(--notes-color-black);
    color: white;
}

.simple-bg-graphite {
    background-color: var(--notes-color-graphite);
    color:white;
}

.simple-bg-gray {
    background-color: var(--notes-color-gray);
    color: white;
}

.simple-bg-silver {
    background-color: var(--notes-color-silver);
    color: black;
}

.simple-bg-white {
    background-color: var(--notes-color-white);
    color: black;
}

.simple-bg-light {
    background-color: var(--notes-color-light);
    color: black;
}

/* Transições do DARK/LIGHT MODE */
html.simple-bg-black {
    background-color: var(--notes-color-black);
    transition: background-color 2s ease;
}

html.simple-bg-white {
    background-color: var(--notes-color-white);
    transition: background-color 2s ease;
}

input.simple-bg-light {
    background-color: var(--notes-color-light);
    transition: background-color 2s ease;
    color:black;
}

input.simple-bg-graphite {
    background-color: var(--notes-color-graphite);
    transition: background-color 2s ease;
    color:white;
}
