
/* Resets for notes */

input {
    padding-inline: 0px;
    padding-block: 0px;
  }
  
textarea {
    padding: 0px;
    resize: none;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Global stylization */

.note {
    border: none;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.note-title {
    font-size: larger;
    font-weight: 600;

    border: none;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    padding: 4%;

    color: inherit;
    background-color: inherit;
}

.note-content {
    font-size: large;
    font-weight: 300;

    border: none;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 4%;

    color: inherit;
    background-color: inherit;
}

/* Pseudo classes and attributes stylization */
.note-title:focus {
    outline: 0px;
}

.note-title::placeholder, .note-content::placeholder {
    color: var(--notes-color-graphite);
    opacity: 0.5;
} 

.note-content:focus {
    outline: 0px;
}

/* Notes colors */
.simple-bg-yellow {
    background-color: var(--notes-color-yellow);
    color: var(--notes-color-graphite);
}

.simple-bg-pink {
    background-color: var(--notes-color-pink);
    color: var(--notes-color-graphite);
}

.simple-bg-green {
    background-color: var(--notes-color-green);
    color: var(--notes-color-graphite);
}

.simple-bg-blue {
    background-color: var(--notes-color-blue);
    color: var(--notes-color-graphite);
}

/* Screen sizes */
@media only screen and (min-width:663px) {
    .note {
        width: 100%;
        height: 230px;
    }

    .note-title {
        width: 250px;
        height: 20%;
    }

    .note-content {
        width: 100%; 
        height: 80%;
    }
}

@media only screen and (max-width:662px) {

    .note {
        width: 100%;
        height: 276px;
    }

    .note-title {
        width: 300px;
        height: 20%;
    }

    .note-content {
        width: 100%; 
        height: 80%;
    }
}